---
import LunariaLayout from "../../layouts/LunariaLayout.astro";
import { processPlugins } from "../../utils";

export async function getStaticPaths() {
  const pluginsData = await processPlugins();
  return pluginsData.map(plugin => ({
    params: { plugin: plugin.packageName },
    props: { pluginsData: plugin }
  }));
}

const { pluginsData } = Astro.props;
const title = pluginsData.name + " Translation Tracker";
---

<LunariaLayout {title} pluginsData={[pluginsData]}>
  <p slot="description">
    You are viewing the translation tracker for the <a href={pluginsData.translationFileLink}>{pluginsData.name}</a> plugin.
  </p>
</LunariaLayout>