:root {
  /** Fonts */
  --ln-font-fallback:
    -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  --ln-font-body: system-ui, var(--ln-font-fallback);
  --ln-font-mono:
    "IBM Plex Mono", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;

  /* Light theme colors */
  --ln-color-white: #f9fafb;
  --ln-color-gray-1: #f3f4f6;
  --ln-color-gray-2: #e5e7eb;
  --ln-color-gray-3: #d1d5db;
  --ln-color-gray-4: #9ca3af;
  --ln-color-gray-5: #6b7280;
  --ln-color-gray-6: #4b5563;
  --ln-color-gray-7: #374151;
  --ln-color-black: #030712;
  --ln-color-blue: #3b82f6;
  --ln-color-orange: #f97316;
  --ln-color-purple: #a855f7;

  --theme-accent: hsl(234, 100%, 87%);
  --theme-bg: hsl(223, 13%, 10%);
  --theme-table-header: hsl(222, 13%, 16%);
  --theme-table-hover: hsl(222, 13%, 16%);
  --theme-text: hsl(228, 8%, 77%);
  --theme-text-bright: hsl(0, 0%, 100%);
  --overlay-blurple: hsla(255, 60%, 60%, 0.2);

  /** Contextual colors */
  --ln-color-background:
    linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%)
      no-repeat -60vw -40vh / 105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
      calc(100% + 20rem) / 60rem 30rem,
    var(--theme-bg);
  --ln-color-link: var(--theme-accent);
  --ln-color-black: var(--theme-text);
  --ln-color-done: var(--ln-color-blue);
  /* --ln-color-outdated: #ea580c; */
  --ln-color-missing: var(--theme-text-bright);
  --ln-color-table-background: var(--theme-table-header);
  --ln-color-table-border: var(--theme-table-header);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme colors */
    --ln-color-white: #030712;
    --ln-color-gray-1: #374151;
    --ln-color-gray-2: #4b5563;
    --ln-color-gray-3: #6b7280;
    --ln-color-gray-4: #9ca3af;
    --ln-color-gray-5: #d1d5db;
    --ln-color-gray-6: #e5e7eb;
    --ln-color-gray-7: #f3f4f6;
    --ln-color-black: #f9fafb;
    --ln-color-blue: #60a5fa;
    --ln-color-orange: #fb923c;
    --ln-color-purple: #c084fc;
  }
}
